<form>
    <input type="text" [(ngModel)]="email" name="email" placeholder="email" id="email">
    <br>
    <input type="text" [(ngModel)]="firstname" name="firstname" placeholder="firstname" id="firstname">
    <br>
    <input type="text" [(ngModel)]="lastname" name="lastname" placeholder="lastname" id="lastname">
    <br>
    <input type="text" [(ngModel)]="username" name="username" placeholder="username" id="username">
    <br>
    <input type="password" [(ngModel)]="password" name="password" placeholder="password" id="password">
    <br>
    <button type="submit" (click)="signup()">submit</button>
</form>
