<mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Market</span>
                <span class="example-fill-remaining-space"></span>
                <span class="align-center"></span>
                <span class="example-spacer"></span>
                <button mat-button id="myButton" routerLink='/login'>Log Out</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <nav> 
            <button routerLink='/profile'>Home</button>
            <button routerLink='/game'>Game</button>
            <button routerLink='/market'>Market</button>
            <button routerLink='/chest'>Chest</button>
    </nav>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <h5> Balance: {{coins}} coins</h5>
        <div class="carousel-inner">
                <div class="carousel-item active">
                        <br>
                        <mat-card id="myCard" class="example-card">
                                <mat-card-header>
                                        <mat-card-title>Item Marketplace</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                        <img src="/assets/Chest.jpg">
                                        <br>
                                        Scroll through to view purchaseable Items
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                </mat-card-content>
                        </mat-card>
                        <br>
                </div>
                <div *ngFor="let item of items" class="carousel-item">
                        <br>
                        <mat-card id="myCard2" class="example-card">
                                <mat-card-header>
                                        <mat-card-title>{{item.name}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                        <img src={{item.itemFilename}}>
                                        <br>
                                        Item Number: {{item.id}}
                                        <br>
                                        Price: {{item.value}} coins
                                        <br>
                                </mat-card-content>
                        </mat-card>
                        <br>
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="buyHere">
        <h6>Enter the number of the Item you would like to purchase:</h6>
        <input type="text" [(ngModel)]="itId">
        <input type="submit" (click)="buy()">
        <br>
        <br>
    </div>
              