.example-card {
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background:black;
    opacity: 0.7;
    color:white;
}
span {
    font-family: Impact, fantasy;
    font-size: 30px;
    color:rgb(32, 90, 117);
    text-shadow: 2px 2px #4190B5;
}
mat-card-header {
    justify-content: center;
}
.example-full-width {
    margin-right: auto;
    margin-left: auto;
}
mat-toolbar-row{
    justify-content: center;  
    background: black;  
}
#myButton {
    position: absolute;
    right: 0;
    top: 0;
}
nav {
    background: black;
    border-bottom: solid #4190B5;
}
nav button {   
    font-family: Impact, fantasy;
    font-size: 18px;
    border: solid black;
    background-color: black;
    color: white;
    padding: 6px;
    cursor: pointer;
    transition: all 0.5s ease-in-out; 
    margin-right: 0;
}
nav button:hover {
    color: grey;
    border-bottom: solid grey;
}